<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>go-eth</title>
</head>
<body>
    <ul>
        <li><a href="/users/wallet">hdwallet</a></li>
        <li><a href="/users/transaction">签署交易</a></li>
        <li><a href="/users/checkAddress">地址检查 - 判断是否为账户或智能合约</a></li>
        <li><a href="/users/checkAddress">查看区块信息</a></li>
        <li><a href="/users/checkTransactions">查询交易</a></li>
        <li><a href="/users/transferETH">转账以太币 ETH</a></li>
        <li><a href="/users/Subscribe">订阅新区块</a></li>
        <li><a href="/users/Subscribe">构建原始交易</a></li>
    </ul>
</body>
</html>